<!--Div 1 --->
<div class=" bg-main d-flex justify-content-center align-items-center div-with-full-vh">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="align-items-center gap-4 d-flex p-4 flex-column text-center">
      <i class="fa-regular fa-calendar" style="font-size: 75px; color: #FF8B5E;"></i>

      <h1 class="text-center roboto">Discover when everyone is free</h1>
      <div class="d-flex justify-content-center align-items-center text-center">
        <p> <strong>OneSlot</strong> is your group scheduling solution, share your schedules, cut out back-and-forth texts, and pinpoint the perfect time.</p>
      </div>
        <a href="/users/sign_up" class="btn custom-btn roboto">Start Making Plans</a>
    </div>
  </div>
</div>

<!--Div 2 --->

<div class="bg-white d-flex justify-content-center align-items-center div-with-full-vh" id="hero">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-6 text-center text-md-left">
        <h1>Features and Benefits</h1>
      </div>
    </div>
  </div>
</div>


<!--Div 3 --->
<div class="bg-orange d-flex justify-content-center align-items-center div-with-full-vh" id="hero" >
  <div class="row">
    <div class="col-md-6 offset-md-3 text-center d-flex p-4">
      <h1>Demo Video</h1>
      <div class="d-flex justify-content-center align-items-center">
        <h5>OneSlot is your group scheduling solution, cutting out back-and-forth texts to pinpoint the perfect time.</h5>
      </div>
    </div>
  </div>
</div>

<!--
 <div class="bg-landing">
 
<h1>Discover when everyone's free</h1>

  <p>Unislot is your group scheduling solution, cutting out back-and-forth texts to pinpoint the perfect time.</p>


column “table”. The code, however, will evolve to this:
 
 
 </div>-->
