<h1>
<%=@user.username%>
</h1>

<h2>
Calendar
</h2>

<%= month_calendar events: @events do |date, events| %>
  <div>
    <%= date %>
    <% events.each do |event| %>
      <div>
        <%= event.name %>
      </div>
    <% end %>
  </div>
<% end %>
