<div class="container mx-auto px-4" style="min-height: 100vh">
  <%= render @event %>
  <div style="display: flex; justify-content: center; align-items: center;">
    <%= link_to "Back to Calendar", user_path(username: current_user.username), class:'btn submit-btn mt-3'%> 
  </div>
</div>
