<div id="<%= dom_id calendar %>">
  <p>
    <strong>Owner:</strong>
    <%= calendar.owner_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= calendar.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= calendar.description %>
  </p>

</div>
