<!-- Section 1: Hero Section -->
<section class="bg-main d-flex justify-content-center align-items-center div-with-full-vh">
  <div class="row d-flex justify-content-center align-items-center">
    <div class="align-items-center gap-4 d-flex p-4 flex-column text-center">
      <i class="bi bi-calendar-event main-icon"></i>
      <h1 class="text-center roboto">Discover when everyone is free</h1>
      <div class="d-flex justify-content-center align-items-center text-center roboto">
        <p> <strong>OneSlot</strong> is your group scheduling solution, share schedules, cut out back-and-forth texts, and pinpoint the perfect time.</p>
      </div>
      <a href="/users/sign_up" class="btn custom-btn roboto">Start Making Plans</a>
    </div>
  </div>
</section>

<!-- Section 2: How It Works -->
<section class="bg-white div-with-full-vh d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-6 col-md-12 d-flex flex-column justify-content-center mb-3">
        <h2 class="how-it-works">How It Works</h2>
        <div>
          <div class="mb-5">
            <h3 class="step">Step 1: Sign Up & Create Your Profile</h3>
            <p>Get started in seconds with your email to customize your profile settings.</p>
          </div>
          <div class="mb-5">
            <h3 class="step">Step 2: Add Your Schedule</h3>
            <p>Connect your calendar or manually input past engagements. This makes your free times visible to group members for easy planning.</p>
          </div>
          <div class="mb-5">
            <h3 class="step">Step 3: Create Your Group</h3>
            <p>Create a group with a few clicks, and access a collective calendar showcasing everyone's events. This enables you to easily identify a mutual free slot that suits all members.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 d-flex justify-content-center align-items-center">
        <video controls class="video-control">
          <source src="videos/oneslot_demo_video.mp4" type="video/mp4">
        </video>
      </div>
    </div>
  </div>
</section>

<!-- Section 3: Customer Testimonials -->
<section class="bg-main div-with-full-vh d-flex flex-column justify-content-center align-items-center text-center">
  <h2 class="roboto text-uppercase happy-customers">Happy Customers</h2>
  <h2 class="testimonial-slogan">We deliver what we promise. See what clients are expressing about us.</h2>
  <hr class="simple-hr"/>
  <div id="carousel-example-controls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner h-100 ">
      <div class="carousel-item active">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("7.png", alt: "first review", class:"card-img-top img-fluid rounded-circle testimonial-profile") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text reviewer-name">David W.</p>
            <p class="card-text location-text">Houston, Texas</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">OneSlot has made scheduling our monthly book club meetings a breeze. No more confusion or double bookings. Plus, the interface is so user-friendly!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("anna.jpeg", alt: "second review", class:"card-img-top img-fluid rounded-circle testimonial-profile") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text reviewer-name">Sarah T.</p>
            <p class="card-text location-text" style="color: #aaa;">New York City, New York</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">OneSlot has been a game-changer for our friend group. No more endless group chats trying to coordinate schedules. Now, we can easily find a time that works for everyone to hang out!</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("6.png", alt: "third review", class:"card-img-top img-fluid rounded-circle testimonial-profile") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text reviewer-name">Rachel T.</p>
            <p class="card-text location-text">Boston, Massachusetts</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">My dad's birthday celebration was a huge success! Seeing the joy on his face when he walked into the surprise party was priceless. OneSlot helped us overcome our busy schedules and create unforgettable memories with our loved ones.</p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="review-card mb-2 bg-main border bg-main mx-auto">
          <div class="d-flex flex-column justify-content-center align-items-center">
            <%= image_tag("5.png", alt: "fourth review", class:"card-img-top img-fluid rounded-circle testimonial-profile") %>
          </div>
          <div class="card-body text-center">
            <p class="card-text reviewer-name">Sean C.</p>
            <p class="card-text location-text">Chicago, Illinois</p>
            <div class="star-rating ">
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
              <span class="star">&#9733;</span>
            </div>
            <p class="card-text roboto">I love how intuitive OneSlot is to use. Whether it's organizing a family gathering or a study session with classmates, the app simplifies the process and saves us valuable time.</p>
          </div>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel-example-controls" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carousel-example-controls" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<!-- Section 4: Connect With Us -->
<section class="bg-orange d-flex justify-content-center align-items-center flex-column section-four">
  <h3>Connect With Us</h3>
  <p>
    <a href="https://facebook.com/yourpage" class="contact-us-link">Facebook</a>
    <a href="https://twitter.com/yourhandle" class="contact-us-link">Twitter</a>
    <a href="https://instagram.com/yourprofile" class="contact-us-link">Instagram</a>
  </p>
  <p>
    <a href="/contact" class="contact-us-link">Contact Us</a>
  </p>
</section>
