/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
  *= require calendar
 */

 html * {
  font-family: 'Roboto', sans-serif;
}

 .roboto {
  font-family: 'Roboto', sans-serif;
}

.div-with-full-vh {
  width: 100vw;
  height: 100vh;
}
/* colors */

.bg-main{
  background-color:#F9F9F9;
}

.bg-white {
  background-color:#FFFFFF;
}

.bg-orange{
  background-color:#FF8B5E;
}

.bg-cream{
  background-color: #F3F1EB ;
}

.bg-black{
  background-color: #000000 ;
}

.bg-beige{
  background-color: #EDE2D9 ;
}



/* font color */
.text-color-white{
  color:white
}

.landing-page-title {
  font-size: 200px;
}

/* button color */
.custom-btn{
  background-color:#F9F9F9; 
  border-color: #FF8B5E;
}

.custom-btn:hover {
  background-color: #FFBE91; /* Light orange color on hover */
  border-color: #FFBE91; /* Adjust the border color to match if necessary */
}

/*image*/

.custom-img-max {
  max-width: 100%; /* Ensures responsiveness */
  height: auto; /* Maintains aspect ratio */
  max-height: 500px; /* Example: Adjusts the maximum height */
}

.image-fixed-height {
  height: 200px; /* Adjust this value based on your needs */
  object-fit: cover;
  width: 100%; /* Ensures responsiveness */
}


.nav-icon {
  margin-right: 8px; 
  color: #FF8B5E;
}

body { padding-top: 80px; }
