.simple-calendar {
  width: 100%;
  margin: 0 auto; 
  table-layout: fixed;
}

.simple-calendar th, .simple-calendar td {
  width: 14.28%; 
  vertical-align: top;
  border: 1px solid #ddd;
  position: relative;
}


.simple-calendar td {
  height: 100px;
  overflow: hidden; 
  background-color: white;
}


.simple-calendar th {
  background-color: #eee;
  text-align: center;
}




/*responsiveness*/
 

.simple-calendar .day, .simple-calendar .date {
  font-size: 0.75rem;
  padding: 5px;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer; 
}

.day:hover {
  background-color: #ffe7d6;
}


@media (min-width: 768px) {
  .simple-calendar .day {
    padding: 10px; /* Increased padding on larger screens */
  }

  .simple-calendar .date {
    font-size: 1rem; 
  }
}

.events-indicator {
  position: absolute;
  bottom: -5px; 
  right: 5px; 
  z-index: 1; 
}

.events-indicator .dot {
  color: #FFBE91;
  font-size: 30px;
  display: block; 
  text-align: center;
}


.current-day .date {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 22px;
  border-radius: 50%;
  background-color: #FF8B5E;
  color: white; 
  text-align: center;
}
